apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-secret
{% if namespace %}
  namespace: {{ namespace }}
{% endif %}
  labels:
{% for key, value in labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
type: Opaque
stringData:
{% for key in keys %}
  {{ key }}: "__REPLACE_ME__"
{% endfor %}
