apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
{% if namespace %}
  namespace: {{ namespace }}
{% endif %}
  labels:
{% for key, value in labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
spec:
  selector:
    app.kubernetes.io/name: {{ name }}
  ports:
    - port: {{ port }}
      targetPort: {{ port }}
