apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ name }}
{% if namespace %}
  namespace: {{ namespace }}
{% endif %}
  labels:
{% for key, value in labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
